
@{
    ViewData["Title"] = "DeleteErrorView";
}

<h1>Lo Siento, Amigo!</h1>
<br />
<h2>This Invoice Can Not Be Deleted</h2>
<br />
<h3>Invoice Line Items Exist</h3>

<div>
    <a asp-controller="Invoices" asp-action="Index">Back to List</a>
</div>

