@model EerCare.Models.ViewModels.CreateLineItem

@{
    ViewData["Title"] = "NewLineItem";
}

<h1>Add Line Item To Invoice</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="NewLineItem">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
                <input type="hidden" asp-for="@Model.InvoiceId" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="LineItem.ProcedureCode" class="control-label"></label>
                <input asp-for="LineItem.ProcedureCode" class="form-control" />
                <span asp-validation-for="LineItem.ProcedureCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineItem.ProcedureDesc" class="control-label"></label>
                <input asp-for="LineItem.ProcedureDesc" class="form-control" />
                <span asp-validation-for="LineItem.ProcedureDesc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineItem.AmtBilled" class="control-label">Amount Billed</label>
                <input asp-for="LineItem.AmtBilled" class="form-control" />
                <span asp-validation-for="LineItem.AmtBilled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LineItem.AmtSettled" class="control-label">Amount Settled</label>
                <input asp-for="LineItem.AmtSettled" class="form-control" />
                <span asp-validation-for="LineItem.AmtSettled" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
